

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

.verticalBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-left: 25px;
  
}
.horizontalBox{
  display: flex;
  flex-direction: row;
  margin: 25px;
  flex-wrap: wrap;
}
.mainHorizontalBox{
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-right: 25px;
  flex-wrap: wrap;
  
}
