

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

.verticalBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-left: 25px;
}
.horizontalBox{
  display: flex;
  flex-direction: row;
  margin: 25px;
  flex-wrap: wrap;
}

.titleHorizontalBox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 25px;
  white-space: nowrap;
}

.miniHorizontalBox{
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
  flex-wrap: wrap;
}

.mainHorizontalBox{
  display: flex;
  
  flex-direction: row;
  margin-top: 100px;
  margin-right: 25px;
  flex-wrap: nowrap;
  flex-shrink: 3;
  background: #FFFFFF;
}

.sideHorizontalBox{
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  margin: 25px;
  flex-wrap: wrap;
  padding: 50px;
  background: #F2F2F2;
}

.sideVerticalBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-left: 20px;
  margin-top: 25px;
}

.itemVerticalBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: 25px;
  border-color: #7F7F7F;
  border-width: 500px;
  background: #FFFFFF;
  padding: 20px;
  text-align: center;
}

.sideButton{
  background: #FFFFFF;
  border-color: transparent;
  width: 280px;
  height: 50px;
  font-family: 'verdana', sans-serif;
  transition: 0.3s;
  
}
.sideButton:hover{
  filter: invert(100%);
}

hr{
  background: black;
  height: 1px;
  border: 0;
  border-top: 1px;
  
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

.hr2{
  width: 15px;
  height: 0.5px;
  margin-left: 5px;
  margin-right: 5px;
}

.sortButton {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.sortReverse {
  transform: rotate(180deg);
}

.quantityHorizontalBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.quantityButton {
  background-color: transparent;
  border: none;
}
.quantityVerticalBox{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.orderBox{
  background: #FFFFFF;
  margin: 5px;
  padding: 15px;
}

.orderVerticalBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
  padding-right: 500px;
}
